<div class="container mt-4 title">
    <div class="row">
        <div class="col">
            <h1>
                <i class="fa-solid fa-pen"></i> &nbsp;
                    Edit Contact Page
            </h1>
    
    
    <p style="text-align: justify;">
        This is dummy data: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis aut, nemo facilis aliquam magnam earum quas, quia architecto est, distinctio doloremque laudantium nesciunt. Eaque at, illum perspiciatis doloribus sed laboriosam?
        This is dummy data: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis aut, nemo facilis aliquam magnam earum quas, quia architecto est, distinctio doloremque laudantium nesciunt. Eaque at, illum perspiciatis doloribus sed laboriosam?
    </p>
        </div>
    </div>
    <!-- add contact form -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form class="border p-3 rounded">
                    <div class="mb-2">
                        <input placeholder="Name" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input placeholder="Photo URL" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input placeholder="Email ID" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input placeholder="Mobile Number" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input placeholder="Company" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input placeholder="Title" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <select name="" id="" class="form-control">
                            <option value="" selected hidden disabled>Select A Group</option>
                            <option value="">Family</option>
                            <option value="">Friends</option>
                        </select>
                    </div>
                    <div class="mb-2">
                        <input value="Update" type="button" class="btn btn-success">
                        <a routerLink="/" class="btn btn-warning ms-3">Close</a>
                    </div>
                </form>
            </div>
            
            <div class="col-md-4 mt-2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXbQDxzpjP4X5yy3zSR_EnVRlK5CDi74eabw&usqp=CAU"
                alt="no image" class="contact-img">
            </div>     
        </div>
    </div>
</div>