 <div class="container mt-4 title">
    <div class="row">
        <div class="col">
            <h1>
                <i class="fa-solid fa-pen"></i> &nbsp;
                    Edit Contact Page
            </h1>
    
    
    <p style="text-align: justify;">
        This is dummy data: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis aut, nemo facilis aliquam magnam earum quas, quia architecto est, distinctio doloremque laudantium nesciunt. Eaque at, illum perspiciatis doloribus sed laboriosam?
        This is dummy data: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis aut, nemo facilis aliquam magnam earum quas, quia architecto est, distinctio doloremque laudantium nesciunt. Eaque at, illum perspiciatis doloribus sed laboriosam?
    </p>
        </div>
    </div>
    <!-- add contact form -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form class="border p-3 rounded">
                    <div class="mb-2">
                        <input  name="name" [(ngModel)]="contact.name" placeholder="Name" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input  name="photo" [(ngModel)]="contact.photo" placeholder="Photo URL" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input  name="email" [(ngModel)]="contact.email" placeholder="Email ID" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input  name="mobile" [(ngModel)]="contact.mobile" placeholder="Mobile Number" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input  name="company" [(ngModel)]="contact.company" placeholder="Company" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <input  name="title" [(ngModel)]="contact.title" placeholder="Title" type="text" class="form-control">
                    </div>
                    <div class="mb-2">
                        <select name="groupId" [(ngModel)]="contact.groupId" id="" class="form-control">
                            <option value="" selected hidden disabled>Select A Group</option>
                            <option value="{{group.id}}" *ngFor="let group of groups">{{group.name}}</option>
                        
                        </select>
                    </div>
                    <div class="mb-2">
                        <input (click)="updateContact()" value="Update" type="button" class="btn btn-success">
                        <a routerLink="/" class="btn btn-warning ms-3">Close</a>
                    </div>
                </form>
            </div>
            
            <div class="col-md-4 mt-2">
                <img [src]="contact.photo"
                alt="no image" class="contact-img">
            </div>     
        </div>
    </div>
</div>